name: Build and push latest EaglerCraft Server Docker image

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: sudosubin/git-clone-action@v1
        with:
          repository: mirrorvim/eaglerX-1.8-server
          platform: 'gitee'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      #- name: Get tag
      #  id: tag
      #  uses: devops-actions/action-get-tag@v1.0.1
      #  with:
      #    strip_v: true # Optional: Remove 'v' character from version

      - name: server Docker meta
        id: server-meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.actor }}/eaglerx1.8server
          tags: |
            type=raw,value=${{ steps.datetime.outputs.datetime }}
            type=sha
            type=ref,event=branch
            type=ref,event=tag
          flavor: |
            latest=true

      - name: Build and push Docker images to ghcr.io
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.actor }}/eaglerx1.8server:1.12.1
          labels: ${{ steps.server-meta.outputs.labels }}
